<%- include ("template/cabecera", {tituloweb: 'Lista'}) %>

<body>

    <%- include ("template/nav") %>
    
   <div class="fondo">

    <div id="tabla">

        <section class="col-12 col-s-12">

            <table class="tabla">
                <thead>
                    <tr>
                        <th>Nº</th>
                        <th>Asignatura</th>
                        <th>Titulo</th>
                        <th>Fecha de Asignacion</th>
                        <th>Fecha de Entrega</th>
                        <th>Status</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                   <% if (data) { %>
                    <% for (var i = 0; i < data.length; i++) { %>
                        <tr class="<%= data[i].est %>">
                            <th class="tablaid"><%= (i + 1) %></th>
                            <th><%= data[i].asig %></th>
                            <th><%= data[i].tit %></th>
                            <th><%= data[i].fa %></th>
                            <th><%= data[i].fe %></th>
                            <th><%= data[i].est %></th>
                            <th>
                                <a href="/entregar/<%= data[i].id%>" class="entregar">Entregar</a>
                                <a href="/update/<%= data[i].id%>" class="edit">Editar</a>
                                <a href="/delete/<%= data[i].id%>" class="delete">Eliminar</a>
                            </th>
                        </tr>
                    <% } %>
                  <% } %>
                </tbody>
            </table>

        </section>

    </div>
   </div>

</body>
</html>
